<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!--CONTROLLERS-->
    <servlet>
        <servlet-name>mainPageController</servlet-name>
        <servlet-class>net.Junior.Servlets.App03_eshop_V1.Controller.MainPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainPageController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>