<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!--CONTROLLERS-->
    <servlet>
        <servlet-name>mainPage_Controller</servlet-name>
        <servlet-class>net.Junior.Servlets.App02_WebApp_V3.controllers.MainPage_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainPage_Controller</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>anotherPage_Controller</servlet-name>
        <servlet-class>net.Junior.Servlets.App02_WebApp_V3.controllers.AnotherPage_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>anotherPage_Controller</servlet-name>
        <url-pattern>/another.do</url-pattern>
    </servlet-mapping>

    <!--FILTERS-->
    <filter>
        <filter-name>processingTime_Filter</filter-name>
        <filter-class>net.Junior.Servlets.App02_WebApp_V3.filters.ProcessingTime_Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>processingTime_Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>requestInfo_Filter</filter-name>
        <filter-class>net.Junior.Servlets.App02_WebApp_V3.filters.RequestInfo_Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestInfo_Filter</filter-name>
        <servlet-name>mainPage_Controller</servlet-name>
    </filter-mapping>

    <!--LISTENERS-->
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyServletContextAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyHttpSessionAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyHttpSessionActivationListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyHttpSessionBindingListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyServletRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.Junior.Servlets.App02_WebApp_V3.listeners.MyServletRequestAttributeListener</listener-class>
    </listener>
</web-app>
        <!--В остновном слушатели нужны чтобы получать информацию о событиях Tomcat-a-->